body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-image: url(../images/chris-lawton-346402-unsplash.jpg);
    background-size: 100%;
}

.link-options {
    float: left;
}
.headshot{
    float:left;
    height: 150px;
    width:auto;
    margin-left: 20px;
}
.topnav {
    background-color: aqua;
    color: white;
    /* background-color: rgba(117, 190, 218, 0.7 ); */

}


.card{
    text-align: center;
}
#picDiv{
    margin-left: 40%;
    margin-right: 40%;
}

